<!DOCTYPE html>

<html lang="fr">

        <head>
            <meta charset="utf-8">
            <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>OhMyFood</title>

            <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Itim&family=Kalam:wght@300;400&family=Kaushan+Script&family=Montserrat:wght@500&family=Mulish:wght@200&family=Padauk:wght@400;700&family=Parisienne&family=Patrick+Hand&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            <link rel="stylesheet" href="../css/style.css" />
        </head>

        <body>

            <header>
                <h1><a class="main-title" href="../index.html">ohmyfood</a></h1>
            </header>

            <main class="layout-main-menu-lapalette">

                <article class="layout-article-lapalette">

                    <section>
                        <h2 class="title-lapalette">La palette du goût</h2>
                    </section>

                    <section>
                        <header class="header-secondary" >
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.png" alt="image d'un trait">
                            </div>
                                <h3 class="title-starter-lapalette">Esquisse</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.g.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-lapalette">
                            <li class="list-organisation">
                                <p> Fricassée d'escargot au piment d'espelette</p>
                                <p>60€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Oeuf au plat assaisonné à la truffe sur lit de caviar</p>
                                <p>55€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Foie gras de canard mi-cuit et ses copeaux de truffes noire</p>
                                <p>65€</p>
                            </li>
                        </ul>
                    </section>

                    <section>
                        <header class="header-secondary" >
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.png" alt="image d'un trait">
                            </div>
                                <h3 class="title-main-lapalette">Oeuvre de maître</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.g.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-lapalette">
                            <li class="list-organisation">
                                <p>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes</p>
                                <p>70€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais</p>
                                <p>85€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Filet de Turbot aux agrumes</p>
                                <p>125€</p>
                            </li>
                        </ul>
                    </section>

                    <section class="margin-desert">
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-end-lapalette">Au sommet de l'art</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1lapalette.g.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-lapalette">
                            <li class="list-organisation">
                                <p>Paris-Brest revisité</p>
                                <p>55€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Macaron au chocolat d'exception et glace à la vanille de Madagascar</p>
                                <p>65€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Mousse au chocolat au piment d'espelette et à la truffe noire</p>
                                <p>60€</p>
                            </li>
                        </ul>
                    </section>

                    <footer>
                        <a class="link-footer" href="mention_legales.html" target="_blank">Mentions légales</a>
                        <a class="link-footer" href="mailto:contact@ohmyfood.com">Contactez-nous</a>
                    </footer>

                </article>
            </main>
        </body>
</html>