<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>OhMyFood</title>

        <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Itim&family=Kalam:wght@300;400&family=Kaushan+Script&family=Montserrat:wght@500&family=Mulish:wght@200&family=Padauk:wght@400;700&family=Parisienne&family=Patrick+Hand&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css" />

    </head>

        <body>

            <header>
                <h1><a class="main-title" href="../index.html">ohmyfood</a></h1>
            </header>

            <main class="layout-main-menu-lanote">

                <article class="layout-article-lanote">

                    <section>
                        <img class="image-note-1" src="../images/note.png" alt="image d'une note de musique">
                        <h2 class="title-lanote">La note enchantée</h2>
                    </section>

                    <section>

                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1note.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-starter-1">Prélude</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne2note.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul>
                            <li class="list-organisation">
                                <p>Ravioles de foie gras accompagnés de leur crême à la truffe</p>
                                <p>98€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Caviar asciêtre sur blini à la farine de blé noir</p>
                                <p>115€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Homard et espuma de potiron mariné aux zests d'orange</p>
                                <p>89€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Foie gras de canars cuit entier, confiture de figue et pain toasté</p>
                                <p>105€</p>
                            </li>
                        </ul>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1note.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-main-2">Point d'orgue</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne2note.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul>
                            <li class="list-organisation">
                                <p>Noix de coquille saint-Jacques sur lit de purée de céléri-rave</p>
                                <p>102€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Langoustine poêlée, purée de patate douce</p>
                                <p>205€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Mijoté de queue de boeuf et riz sauvage aux zests de citron</p>
                                <p>169€</p>
                            </li>
                        </ul>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1note.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-end-3">Mouvement final</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne2note.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul>
                            <li class="list-organisation">
                                <p>Macaron noisette et chocolat, glace au caramel brun et sel de Guérande</p>
                            </li>
                            <li class="list-organisation">
                                <p>Baba au rhum revisité avec son coulis de citron</p>
                            </li>
                            <li class="list-organisation">
                                <p>Tarte au citron meringuée destructurée</p>
                            </li>
                        </ul>
                    </section>

                    <section class="footer-menu-lanote">
                        <img class="image-note-2" src="../images/note.png" alt="image d'une note de musique">
                        <p class="p-lanote">La note enchantée</p>
                    </section>

                    <footer>
                        <a class="link-footer" href="mention_legales.html" target="_blank">Mentions légales</a>
                        <a class="link-footer" href="mailto:contact@ohmyfood.com">Contactez-nous</a>
                    </footer>

                </article>
            </main>
    </body>
</html>