<!DOCTYPE html>

<html lang="fr">

        <head>
            <meta charset="utf-8">
            <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <title>OhMyFood</title>

            <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Itim&family=Kalam:wght@300;400&family=Kaushan+Script&family=Montserrat:wght@500&family=Mulish:wght@200&family=Padauk:wght@400;700&family=Parisienne&family=Patrick+Hand&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
            <link rel="stylesheet" href="../css/style.css" />
        </head>

        <body>

            <header>
                <h1><a class="main-title" href="../index.html">ohmyfood</a></h1>
            </header>

            <main class="layout-main-menu-ledelice">

                <article class="layout-article-ledelice">

                    <section>
                        <h2 class="title-ledelice">Le délice des papilles</h2>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1delice.png" alt="image d'un trait">
                            </div>
                            <h3 class="coursetitle-ledelice">Pour bien commencer</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligned1delice.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-ledelice">
                            <li class="list-organisation">
                                <p>Tartare de thon assaisonné au yuzu</p>
                                <p>55€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Bouchée de homard croustillant et sa farandole de petits légumes</p>
                                <p>89€</p>
                            </li>
                            <li class="list-organisation">
                                <p>velouté de cèpes aux truffes</p>
                                <p>56€</p>
                            </li>
                        </ul>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne2delice.png" alt="image d'un trait">
                            </div>
                            <h3 class="coursetitle-ledelice">Pour bien continuer</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligned2delice.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-ledelice">
                            <li class="list-organisation">
                                <p>Poulet roti aux herbes de provence et sa crème de truffe</p>
                                <p>110€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Langouste rôtie et ses légumes de saison</p>
                                <p>225€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Cotes de boeuf angus et sa purée de panais</p>
                                <p>115€</p>
                            </li>
                        </ul>
                    </section>

                    <section class="margin-desert">
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne3delice.png" alt="image d'un trait">
                            </div>
                            <h3 class="coursetitle-ledelice">Pour bien terminer</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligned3delice.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="text-ledelice">
                            <li class="list-organisation">
                                <p>Farandole de dessert du chef</p>
                                <p>55€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Crème brulée revisitée</p>
                                <p>60€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Tiramisu à la noisette</p>
                                <p>55€</p>
                            </li>
                        </ul>
                    </section>

                    <footer>
                        <a class="link-footer" href="mention_legales.html" target="_blank">Mentions légales</a>
                        <a class="link-footer" href="mailto:contact@ohmyfood.com">Contactez-nous</a>
                    </footer>

                </article>
            </main>
    </body>
</html>