<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="site de référencement de restaurants Parisiens avec menus">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>OhMyFood</title>

        <link href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Devonshire&family=Itim&family=Kalam:wght@300;400&family=Kaushan+Script&family=Montserrat:wght@500&family=Mulish:wght@200&family=Padauk:wght@400;700&family=Parisienne&family=Patrick+Hand&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="../css/style.css" />
    </head>

        <body>

            <header>
                <h1><a class="main-title" href="../index.html">ohmyfood</a></h1>
            </header>

            <main class="layout-main-menu-lechic">

                <article class="layout-article-lechic">

                    <section>
                        <h2 class="title-lechic">Le chic à la française</h2>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne1chic.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-starter-lechic size-title-menu-lechic">Pour se mettre en appétit</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligned1chic.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="color-text-starter size-text-lechic">
                            <li class="list-organisation">
                                <p>Tartare de poulpe acidulé aux zests d'orange</p>
                                <p>79€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Velouté de légume d'antan</p>
                                <p>57€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Soupe à l'oignon revisitée</p>
                                <p>57€</p>
                            </li>
                        </ul>
                    </section>

                    <section>
                        <header class="header-secondary">
                            <div class="size-line">
                                <img class="size-line" src="../images/ligne2chic.png" alt="image d'un trait">
                            </div>
                            <h3 class="title-maincourse-lechic size-title-menu-lechic" >Plaisir des papilles</h3>
                            <div class="size-line">
                                <img class="size-line" src="../images/ligned2chic.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="color-text-maincourse size-text-lechic">
                            <li class="list-organisation">
                                <p>Coquille Saint-Jacques accompagnées d'une purée de panais</p>
                                <p>95€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Margret de canard et parmentier de pommes de terres</p>
                                <p>88€</p>
                            </li>
                            <li class="list-organisation">
                                <p>Pigeonneau d'Ile et Vilaine sur son lit de gnocchis aux légumes</p>
                                <p>175€</p>
                            </li>
                        </ul>
                    </section>

                    <section class="margin-desert">
                        <header class="header-secondary">
                            <div class="size-line">
                            <img class="size-line" src="../images/ligne3chic.png" alt="image d'un trait">
                            </div>
                                <h3 class="title-desert-lechic size-title-menu-lechic">Gourmandises sucrées</h3>
                            <div class="size-line">
                            <img class="size-line" src="../images/ligned3chic.png" alt="image d'un trait">
                            </div>
                        </header>

                        <ul class="color-text-desert size-text-lechic">
                            <li class="list-organisation">
                                <p>Pétales de violettes glacés et purée de noisettes</p>
                            </li>
                            <li class="list-organisation">
                                <p>Fondant au chocolat revisité</p>
                            </li>
                            <li class="list-organisation">
                                <p>Millefeuille croustillant</p>
                            </li>
                        </ul>
                    </section>

                    <footer>
                        <a class="link-footer" href="mention_legales.html" target="_blank">Mentions légales</a>
                        <a class="link-footer" href="mailto:contact@ohmyfood.com">Contactez-nous</a>
                    </footer>
                </article>

            </main>
    </body>
</html>